html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400; }
  @media (min-width: 503px) and (max-width: 505px) {
    body {
      font-family: 'Papyrus'; }
      body .blueprint .grid-item {
        outline: 1px dotted blue; } }

.grid-item {
  font-size: 10px; }

.blueprint .grid-item {
  color: blue;
  background: linear-gradient(135deg, #eeeeee 0%, #cccccc 100%);
  outline: 1px solid blue; }

.intro {
  perspective: 5000px; }

.intro__row .grid-item {
  background: linear-gradient(135deg, #eeeeee 0%, #cccccc 100%);
  transition: transform 0.3s ease-in-out; }
  .intro__row .grid-item:hover {
    transform: translate3d(0, 0, 50px); }

.label {
  padding: 1em; }

.flex-wrap > .grid-item {
  flex-shrink: 1; }
