// Squid Mixins
// ============

// Media query
=min-squid-max-width
  @if ($squid-max-width != 'none')
    @media (min-width: $squid-max-width)
      @content

// Calculate height of grid rectangle
=height($height)
  height: calculate-viewport-width($height)
  @if ($squid-max-width != 'none')
    max-height: calculate-max-size($height)

// Calculate width of grid rectangle
=width($width)
  width: calculate-viewport-width($width)
  @if ($squid-max-width != 'none')
    max-width: calculate-max-size($width)

// Calculate margin from direction and distance
=margin($direction, $distance)
  margin-#{$direction}: calculate-viewport-width($distance)
  @if ($squid-max-width != 'none')
    +min-squid-max-width
      margin-#{$direction}: calculate-max-size($distance)
